@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Signika');



/* commune css */
body {
  background-image: linear-gradient(to right,#ec38bc,#0082c8);
  background-attachment:fixed;
  background-repeat:repeat;
  margin: 0;
  padding:0;
  text-align: center;
  width:auto;
  height:100%;
  background-size:200%;
  outline: none;
}

h2 {
font-family: 'Signika', sans-serif;
color:white;
font-size:4vh;
text-align: center;
margin:15% 0 0 0%;
padding:2%
}

h3 {
font-family: 'Signika', sans-serif;
font-size:2vh;
text-align: center;
}

a{
  
  text-decoration:none;
  color:white;
  outline: none;
  margin:0;
}

a:hover{
color:lightblue;
outline: none;
}


.but{
color:white;
background:none;
width:auto;
height:50px;
border:3px solid white;
border-radius:10px;
font-size:100%;
padding:1% 1% 0 1%;
margin:1%;
outline: none;    
}

.fixed_age{
color:gray;
position: fixed;
bottom:1%;
right:5%;
z-index:1;
font-family: 'Rajdhani', sans-serif;
font-size:3vh;
outline: none;
font-weight: bold;
}

.copy{
    font-size:3vh;
    color:gray;
    position:fixed;
    bottom:0;
    margin:0;
    bottom:1%;
    right:20%;
    z-index:1;
    font-family: 'Rajdhani', sans-serif;
    outline: none;
    font-weight: bold;
}


.triangle{
      width:0;
      height:0px;
      border-top: 0px solid transparent;
      border-left:400px solid white;
      border-bottom: 200px solid transparent;
      z-index:-1;
    }


.trianglebottom{
      width:0;
      height:0px;
      border-top: 200px solid transparent;
      border-right:400px solid white;
      border-bottom: 0px solid transparent;
      position: fixed;
      right:0;
      bottom:0;
      z-index:-1;
    }

i{
color:gray;
}

.buthome{
font-size:4vh;
background:white;
color:gray;
border:3px solid white;
border-radius:5px;
padding:1% 2% 0 2%;
position: fixed;
top:0;
left:2%;
outline: none;
font-weight: bold;
}

.add-but{
font-size:2.5vh;
background:white;
color:gray;
border:3px solid white;
border-radius:5px;
padding:1% 2% 0 2%;
position: fixed;
top:1%;
left:2%;
outline: none;
font-weight: bold;
}

.report-but{
font-size:2.5vh;
background:white;
color:gray;
border:3px solid white;
border-radius:5px;
padding:1% 2% 0 2%;
position: fixed;
top:1%;
left:25%;
margin-left:4%;
outline: none;
font-weight: bold;
}


.nextbut{
font-size:4vh;
background:white;
color:gray;
border:3px solid white;
border-radius:5px;
padding:2% 15% 1%  15%;   
outline: none;

}




.butt{
width:80%;
margin:1%;
background:white;
color:gray;
font-size:3vh;
border:3px solid white;
border-radius:5px;
padding:1% 3% 0 3% ;  
font-family: 'Rajdhani', sans-serif;
outline: none;

}

P{
    font-weight: bold;
    padding:3%;
    color:aliceblue;
    font-size:2vh;
    font-family: 'Rajdhani', sans-serif;

}

#girl_name{
    margin:0 0 2% 0;
}

.logo{
position: fixed;
top:2%;
right:2%;
z-index:-4;
}


.count{
position: fixed;
font-size:3vh;
bottom:5%;
right:5%;
    
}